* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1145px;
    margin: 0 auto;
}
.header_nav_menu {
    margin: 31.5px 0px;
}
ul.header_nav_menu_list li {
    display: inline;
    margin-right: 72px;
}
.header_nav_menu_list{
    list-style: none;
    text-align: center;
}
.header_nav_menu_link {
    display: inline;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}
.block_image {
    width: 100%;
    min-height: 789px;
    background: url('../img/img_main_block.jpg') no-repeat 50%;
    margin-bottom: 23px;
}
.block_main_title {
    color: rgba(55, 55, 55, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    text-align: center;
    margin-bottom: 38px;
}
.block_main_text {
    color: rgba(55, 55, 55, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}
.first_text{
    text-indent: 50px;
    margin-bottom: 28px;
}
.second_text{
    margin-bottom: 66px;
}
.block_main_button {
    width: 215px;
    margin: 0 auto;
    margin-bottom: 82px;
}
.block_main_button_link {
    text-align: center;
    padding: 18px 43.5px 17px 42.5px;
    background-color: #ff0000;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    ;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.footer_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    color: rgba(55, 55, 55, 1);
    text-align: end;
    margin-bottom: 29px;
}
